div.web2py_htmltable>table {
  width:100%;
}

div#description {
	margin-bottom: 20px;
}
form.centered {
	margin-top: 20px;
}

input.choose {
	display: none;	
}

a.button#choose_file {
	width:124px;
}

a.button {
	width: 100px;
}

div.centering {
	margin-top: 30px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: center;
}

div#div_buttons {
	text-align: center;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding-top: 9px;
	padding-bottom: 9px;
}

div.web2py_table>form {
	text-align:center;
}


input[type="submit"].btn {
	width: 150px;
}

div#div_buttons>a.button {
	width: 150px;
}

.web2py_grid .row_buttons {
	width: 360px;
}
