{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}
<h3>Additional fields to add to configuration files.</h3>
<p>
    Additional fields to use for provisioning file. They need to follow Grandstream notation, ex. "P2" as key and "adminpass" as value, etc.
</p>
{{=form}}
