{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}
<script>
  $(function() {
     $("input:file").change(function (){
       var fileName = $(this).val().split('\\').pop();
       $("#description").text(fileName);
     });
  });
</script>
<h3>Choose CSV file for import</h3>
<div class='centering'>
{{=FORM(
	DIV('No file selected.', _id='description'),
	A(
    	SPAN(_class="icon arrow-up icon-arrow-up"), 
    	SPAN('Choose file', _class="buttontext button"), 
    	_class="w2p_trap button btn",
    	_id="choose_file",
    	_href='#',
    	_onclick="$('.choose').click();"
    	),
	INPUT(_type='file',_name='csvfile', _class='choose'),
	INPUT(_type='submit',_value='Import'),
	_class='centered'
    )
}}

</div>
