{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}
<h3>Device Database</h3>
<div id="div_buttons">
    {{=A(
    	SPAN(_class="icon arrow-up icon-arrow-up"), 
    	SPAN('Import CSV', _class="buttontext button"), 
    	_class="w2p_trap button btn",
    	_href=URL("provision", "default", "choose_csv")
    	)
    }}
    {{=A(
    	SPAN(_class="icon play icon-play"), 
    	SPAN('Generate All', _class="buttontext button"), 
    	_class="w2p_trap button btn",
    	_href=URL("provision", "default", "generate")
    	)
    }}
    {{=A(
    	SPAN(_class="icon remove icon-remove"), 
    	SPAN('Delete All', _class="buttontext button"), 
    	_class="w2p_trap button btn",
    	_href=URL("provision", "default", "dellall")
    	)
    }}
</div>
<p>
    Please select the devices for which the provisioning files should be generated and then press Submit button. If no de device is selected, then 
    provisioning files will be generated for all of listed devices.
</p>
{{=grid}}
