{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}

<h3>Welcome in Provisioning Application for Grandstream Phones</h3>
<p>
	This application allows to generate provisioning files for Grandstream phones using the information
	from the Elastix database. This way an easy one-step configuration is possible, when the admin only 
	needs to set up an extension on the elastix server and then just generates config files automatically 
	by "Generate All" button.
</p>
<p>
	By using this interface the user is able to set up the provisioning application for his environment 
	and then explore the data stored in the Elastix database. To be able to do so, two steps need to be accomplished.
</p>
<ul>
    <li>First user needs to enter the communication credentials for connecting with Elastix database. This is done 
    using the Sysconf page. Here the user can see the current content of "configuration database", which needs, in order 
    for the system to be operational, to contain "AstDBuser", "AstDBpass", "AstDBhost" and "AstDBbase". This tells the 
    system as whom to log to Elastix database, what password to use for this connectin, where to find the Elastix database 
    and how the database is called respectively. </li>
    <li>Second, the user needs to populate the Account database, which can be done either manually or automatically. First 
    way can be accomplished on the "Device Database" page, where the actual content of the accounts database is shown and 
    where it can be modified. Second opion is done by using the CSV import on the "Device Import" page.</li>
</ul>
<p>
	Once those steps are done, user can automatically generate the configs, and add the user defined parameters to them 
	by using the "Additional fields" page, which accepts the parameters in the Grandstream format, ex. P1 = value.
</p>
