{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}
<h3>Log file</h3>
<div id="div_buttons">
    {{=A(
    	SPAN(_class="icon remove icon-remove"), 
    	SPAN('Delete Log', _class="buttontext button"), 
    	_class="w2p_trap button btn",
    	_href=URL("provision", "default", "dellog")
    	)
    }}
</div>
<p>
{{=BEAUTIFY(content)}}
</p>
