{{
	left_sidebar_enabled = True
	right_sidebar_enabled=False
}}
{{extend 'layout.html'}}
<h3>Sysconf</h3>
<p>Allowed keys are:
</p>
<ul>
    <li>AstDBpass - Password to Elastix database.</li>
    <li>AstDBhost - Elastix host IP.</li>
    <li>AstDBbase - Elastix database (should be 'asterisk').</li>
    <li>AstDBuser - User to log into Elastix database.</li>
    <li>ExportPath - Path where to export provisioning files.</li>
</ul>
{{=form}}
